#context-tree ul {
    padding-left: 20px;
}
#context-tree li {
    list-style-type: none;
    clear: both;
    line-height: 25px;
}
#context-tree li.collapsed:before {
    content: "▸ ";
    cursor: default;
    margin-left: -0.8em;
}
#context-tree li.uncollapsed:before {
    content: "▾ ";
    cursor: default;
    margin-left: -0.8em;
}
#context-tree li.collapsed ul {
    display: none;
}

#context-tree li input {
    float: right;
    width: 130px;
}
#context-tree label {
    font-family: "monospace";
    font-size: 14px;
}
#context-tree .even {
    background-color: #ffffff;
}
#context-tree .odd {
    background-color: #e8e8e8;
}
#context-tree {
    width: 350px;
}
#content-preview {
    width: 100%;
    height: 600px;
}

